DEBUG=False
HOST=127.0.0.1
PORT=8000
JWT_SECRET_KEY=__JWT_SECRET_KEY__
DB_HOST=127.0.0.1
DB_PORT=5432
DB_USER=xls_admin
DB_PASSWORD=xls_admin_2024
DB_NAME=xls_db
WEILAN_API_TOKEN=__WEILAN_API_TOKEN__
LOG_LEVEL=INFO
